<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom login page</title>
</head>
<body>

<h3>My custom login page
</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="post">
    <!-- check for login error-->
    <div th:if="${param.error}">
        <i> Sorry! Enter valid details</i>
    </div>
    Username:<input type="text" name="username"/>

    Password:<input type="password" name="password"/>

    <input type="submit" value="Login">

</form>

</body>
</html>